.div-comp {
    width: 50%;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.top-text-new {
    margin-left: 5px;
    display: inline;
    color: black;
    font-size: 10px;
    font-weight: bold;
}
.top-text-new-1 {
    margin-left: 5px;
    display: inline;
    color: grey;
    font-size: 10px;
    font-weight: normal;
}

.star-new {
    height: 13px;
}

.first-row-new {
    color: #34333E;
    font-size: 18px;
    font-family: Manrope, serif;
    margin-bottom: 7px;
}
