.top-text {
    padding-top: 10px;
    margin-left: 10px;
    color: grey;
    height: 20px;
    font-size: 14px;
    font-weight: normal;
}
.top-text-1 {
    margin-left: 10px;
    margin-bottom: 8px;
    color: black;
    height: 20px;
    font-size: 19px;
    font-weight:normal;
}
