.first-row {
    margin-bottom: 5px;
    margin-left: 10px;
    color: grey;
    font-size: 13px;
}

.second-row {
    margin-bottom: 40px;
    margin-left: 10px;
    color: black;
    font-size: 15px;
}
